@import "./../../styles/variables";

.home-main-content {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: linear-gradient(rgba(52, 41, 49, 0.8), rgba(26, 33, 74, 0.8)),
    url("../../../assets/img/background-main.webp") no-repeat bottom;
  background-size: cover;
  font-size: 4rem;
}

.movies__container .show__container {
  margin: 2rem 0;
  min-height: 465px;
  position: relative;
}

.movies__title,
.show__title {
  position: absolute;
  margin: 12px 0;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  .mat-icon {
    margin-right: 10px;
  }
}
